<h3>Edit Question</h3>

<%= render 'form' %>

<div class="options_list">
	<% myOptions = @question.options %>
	<% myOptions.each do |option| %>
		<%= render 'options/option', :option => option %>
		<%#= render @question.options %>
	<% end %>
</div>

<div class="choices add_options">
	<%= render 'options/form' %>
</div>