<h2>Polls Index</h2>

<!-- link to new poll -->
<%= link_to 'New Poll', new_poll_path(@poll) %>

<% @polls.each do |poll| %>
  <div class='poll_index'>
    <div class='poll_title'><%= poll.title %></div>
    <!-- links to show, edit, public url -->
    <%= link_to 'Admin URL', admin_poll_path(poll.admin_url) %>
		&nbsp;|&nbsp;
    <%= link_to 'Public URL', public_poll_path(poll.public_url) %>
  </div>
<% end %>
