.choices {
    display: none;
}

.choicesOn {
    display: block;
}

.multiple_choice {
    display: inline;
}

.poll_title {
    font-weight: bold;
    font-size: medium;
    padding: 5px 0px;
}

.poll_index {
    padding: 10px 0px;
}

.mc_question_table {
    padding-left: 20px;
    font-weight: bold;
}

.mc_question_button {
    padding-left: 12px;
    padding-bottom: 10px;
}

.mc_question_option {
    padding-left: 8px;
}
